{% extends "Base/base.html" %}

{% block hero_content %}

{% include 'Base/navbar.html' %}

<!-- Hero Start -->
<section class="swiper-slider-hero position-relative d-block vh-100" id="home">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center" style="background: center center;" data-background="/static/assets/images/hero/1.jpg">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center mt-5">
                            <div class="col-12">
                                <div class="title-heading">
                                    <h1 class="heading text-white title-dark fw-bold mb-4 text-capitalize">Book your treatment <br> appointment</h1>
                                    <p class="para-desc text-white-50">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
                                    
                                    <div class="mt-4 pt-2">
                                        <a href="javascript:void(0)" class="btn btn-primary">Make Appointment</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner --> 
            </div> <!-- end swiper-slide -->

            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center" style="background: center center;" data-background="/static/assets/images/hero/2.jpg">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center mt-5">
                            <div class="col-12">
                                <div class="title-heading">
                                    <h1 class="heading text-white title-dark fw-bold mb-4 text-capitalize">Meet the <br> best Doctors</h1>
                                    <p class="para-desc text-white-50">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
                                    
                                    <div class="mt-4 pt-2">
                                        <a href="javascript:void(0)" class="btn btn-primary">Find a Doctor</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner --> 
            </div> <!-- end swiper-slide -->

            <div class="swiper-slide d-flex align-items-center overflow-hidden">
                <div class="slide-inner slide-bg-image d-flex align-items-center" style="background: center center;" data-background="/static/assets/images/hero/3.jpg">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center mt-5">
                            <div class="col-12">
                                <div class="title-heading">
                                    <h1 class="heading text-white title-dark fw-bold mb-4 text-capitalize">Most trusted health <br> partner for your life.</h1>
                                    <p class="para-desc text-white-50">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
                                    
                                    <div class="mt-4 pt-2">
                                        <a href="javascript:void(0)" class="btn btn-primary">Contact Us</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!-- end slide-inner --> 
            </div> <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->

        <!-- swipper controls -->
        <div class="swiper-pagination"></div>
        <!-- <div class="swiper-button-next rounded-circle text-center"></div>
        <div class="swiper-button-prev rounded-circle text-center"></div> -->
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mb-5 mb-md-0 pb-5 pb-md-4">
                <div class="position-relative">
                    <div class="me-lg-5 me-4">
                        <img src="/static/assets/images/about/hos1.jpg" class="img-fluid rounded border border-4 shadow" alt="">
                    </div>
                    
                    <div class="position-absolute top-50 end-0">
                        <img src="/static/assets/images/about/hos2.jpg" class="img-fluid h-auto rounded border border-4 shadow" width="250px" alt="">

                        <div class="position-absolute top-0 start-0 translate-middle">
                            <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="avatar avatar-md-md rounded-pill shadow card d-flex justify-content-center align-items-center lightbox">
                                <i class="mdi mdi-play mdi-24px text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div> 
            </div><!--end col-->

            <div class="col-lg-7 col-md-6 mt-4 mt-md-0 pt-4 pt-md-0">
                <div class="section-title ms-lg-5">
                    <h6 class="text-primary small text-uppercase">Coral Healthcare</h6>
                    <h4 class="title my-3">Good Services And Better <br> Health By Our Specialists</h4>
                    <p class="para-desc text-muted">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
                    <p class="para-desc text-muted">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin words.</p>
                    <div class="mt-4">
                        <a href="javascript:void(0)" class="btn btn-soft-primary">Make Appointment</a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Services of Clinical Excellence</h4>
                    <p class="text-muted para-desc mx-auto mb-0">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4 mt-2">
            
            <!-- Components/Home/index-hospital/services6.html -->
            {% include 'Components/Home/index-hospital/services6.html' %}

        </div><!--end row-->

        <div class="row justify-content-center mt-4">
            <div class="col-12 text-center">
                <a href="/services/" class="btn btn-link primary fs-6">See More Services <i class="mdi mdi-arrow-right"></i></a>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- Start CTA -->
<section class="cta-video-section position-relative">
    <video class="" autoplay loop>
        <source src="/static/assets/images/video.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-10">
                <div class="position-relative z-1 p-4 rounded shadow bg-white">
                    <div class="tiny-single-item">
                            
                        <!-- Components/Home/index-consulting/review3.html -->
                        {% include 'Components/Home/index-consulting/review3.html' %}

                    </div>

                    <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                </div>
            </div>
        </div>
    </div>
</section><!--end section-->
<!-- End CTA -->

<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Doctors Availability</h4>
                    <p class="text-muted para-desc mx-auto mb-0">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-4 pt-2">
                <div class="table-responsive rounded">
                    <table class="table table-center table-bordered bg-white mb-0">
                        <thead>
                            <tr>
                                <th class="text-center py-4" style="min-width: 120px;">Time Table</th>
                                <th class="text-center py-4" style="min-width: 200px;">Monday</th>
                                <th class="text-center py-4" style="min-width: 200px;">Tuesday</th>
                                <th class="text-center py-4" style="min-width: 200px;">Wednesday</th>
                                <th class="text-center py-4" style="min-width: 200px;">Thursday</th>
                                <th class="text-center py-4" style="min-width: 200px;">Friday</th>
                                <th class="text-center py-4" style="min-width: 200px;">Saturday</th>
                                <th class="text-center py-4" style="min-width: 200px;">Sunday</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <!-- Components/Home/index-hospital/availability.html -->
                            {% include 'Components/Home/index-hospital/availability.html' %}

                        </tbody>
                    </table>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-fluid-->
</section><!--end section-->
<!-- End -->

<!-- Start CTA -->
<section class="cta-video-section position-relative" style="background: url('/static/assets/images/hero/auth.jpg') center fixed;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-5 col-md-6 col-sm-8 col-10">
                <div class="position-relative z-1 p-4 rounded shadow bg-white">
                    <h4 class="mb-4">Book Your Appointment</h4>
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label fw-semibold">Patient Name <span class="text-danger">*</span></label>
                                    <input name="name" id="name1" type="text" class="form-control" placeholder="Patient Name :">
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-semibold">Departments</label>
                                    <select class="form-select form-control">
                                        <option value="EY">Eye Care</option>
                                        <option value="GY">Gynecologist</option>
                                        <option value="PS">Psychotherapist</option>
                                        <option value="OR">Orthopedic</option>
                                        <option value="DE">Dentist</option>
                                        <option value="GA">Gastrologist</option>
                                        <option value="UR">Urologist</option>
                                        <option value="NE">Neurologist</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-semibold">Doctor</label>
                                    <select class="form-select form-control">
                                        <option value="CA">Dr. Calvin Carlo</option>
                                        <option value="CR">Dr. Cristino Murphy</option>
                                        <option value="AL">Dr. Alia Reddy</option>
                                        <option value="TO">Dr. Toni Kovar</option>
                                        <option value="JE">Dr. Jessica McFarlane</option>
                                        <option value="EL">Dr. Elsie Sherman</option>
                                        <option value="BE">Dr. Bertha Magers</option>
                                        <option value="LO">Dr. Louis Batey</option>
                                    </select>
                                </div>
                            </div><!--end col-->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-semibold">Your Email <span class="text-danger">*</span></label>
                                    <input name="email" id="email" type="email" class="form-control" placeholder="Your email :">
                                </div> 
                            </div><!--end col-->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-semibold">Your Phone <span class="text-danger">*</span></label>
                                    <input name="phone" id="phone" type="tel" class="form-control" placeholder="Your Phone :">
                                </div> 
                            </div><!--end col-->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-semibold"> Date <span class="text-danger">*</span></label>
                                    <input name="date" type="text" class="form-control start" placeholder="Select date :">
                                </div>
                            </div><!--end col-->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-semibold" for="input-time">Time <span class="text-danger">*</span></label>
                                    <input name="time" type="text" class="form-control timepicker" id="input-time" placeholder="03:30 PM">
                                </div> 
                            </div><!--end col-->

                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label fw-semibold">Comments <span class="text-danger">*</span></label>
                                    <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your Message :"></textarea>
                                </div>
                            </div><!--end col-->

                            <div class="col-lg-12">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Book An Appointment</button>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </form>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End CTA -->

<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Doctor's Team</h4>
                    <p class="text-muted para-desc mx-auto mb-0">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row align-items-center g-4">
            
            <!-- Components/Home/index-hospital/team.html -->
            {% include 'Components/Home/index-hospital/team.html' %}

        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Blog Or News</h4>
                    <p class="text-muted para-desc mx-auto mb-0">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row g-4">
            
            <!-- Components/Home/index/blog.html -->
            {% include 'Components/Home/index/blog.html' %}

        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
    
<!-- Components/Home/index/offcanvas.html -->
{% include 'Components/Home/index/offcanvas.html' %}

{% include 'Base/footer.html' %} 

{% endblock %}