<div class="position-relative">
    <div class="row align-items-end">
        <div class="col-7">
            <img [src]="'assets/images/about/1.jpg'" class="img-fluid rounded" alt="">
        </div>

        <div class="col-5">
            <img [src]="'assets/images/about/3.jpg'" class="img-fluid rounded" alt="">
        </div>
    </div>

    <div class="row align-items-start mt-4">
        <div class="col-5">
            <img [src]="'assets/images/about/4.jpg'" class="img-fluid rounded" alt="">
        </div>

        <div class="col-7">
            <img [src]="'assets/images/about/2.jpg'" class="img-fluid rounded" alt="">
        </div>
    </div>

    <div class="position-absolute top-50 start-50 translate-middle">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="avatar avatar-md-md rounded-pill shadow card d-flex justify-content-center align-items-center lightbox">
            <i class="mdi mdi-play mdi-24px text-primary"></i>
        </a>
    </div>

    <div class="position-absolute top-50 start-50 translate-middle z-n1">
        <div class="bg-primary rounded opacity-75 p-5"><div class="p-5 m-5"></div></div>
    </div>
</div>
