---
import bg from '../assets/images/hero/pages.jpg'
import BlogComments from '../components/blog/blog-comments.astro';
import BlogDesc from '../components/blog/blog-desc.astro';
import SidebarBlog from '../components/blog/sidebar-blog.astro';
import Navlight from "../components/navbar/navlight.astro";
import Layout from "../layouts/Layout.astro";
import Footer from '../components/footer.astro';
import { masonaryData } from '../data/data';
---

<Layout>
    <Navlight/>

    <section class="bg-half-170 d-table w-100" style={`background: url('${bg.src}') center`}>
        <div class="bg-overlay bg-gradient-overlay"></div>
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-12">
                    <div class="title-heading text-center">
                        <span class="badge bg-primary">Coral</span>
                        <h5 class="heading fw-semibold mb-0 sub-heading text-white title-dark mt-4">They say a picture speaks a thousand words, right?</h5>

                        <ul class="list-inline text-center mb-0">
                            <li class="list-inline-item mx-4 mt-4">
                                <span class="text-white-50 d-block">Author</span>
                                <a href="javascript:void(0)" class="text-white title-dark">Coral</a>
                            </li>

                            <li class="list-inline-item mx-4 mt-4">
                                <span class="text-white-50 d-block">Date</span>
                                <span class="text-white title-dark">15th July 2025</span>
                            </li>

                            <li class="list-inline-item mx-4 mt-4">
                                <span class="text-white-50 d-block">Read Time</span>
                                <span class="text-white title-dark">5 min read</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="position-middle-bottom">
                <nav aria-label="breadcrumb" class="d-block">
                    <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                        <li class="breadcrumb-item"><a href="/">Coral</a></li>
                        <li class="breadcrumb-item"><a href="/blogs">Blogs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">They say a picture speaks a thousand words, right?</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-8 col-md-7">
                    <div id="grid" class="column-4 gap-2">
                        {masonaryData.slice(0,7).map((item)=>( 
                            <div class="mb-2">
                                <div class="portfolio masonry rounded shadow position-relative overflow-hidden">
                                    <div class="position-relative overflow-hidden image">
                                        <img src={item.image.src} class="img-fluid rounded shadow" alt=""/>
                                        <div class="position-absolute start-0 end-0 top-0 bottom-0 overlay rounded bg-black m-4"></div>
                                    </div>
        
                                    <div class="content">
                                        <div class="position-absolute top-50 start-50 translate-middle">
                                            <a href={item.image.src} class="btn btn-sm btn-icon btn-pills btn-primary lightbox"><i data-feather="camera" class="fea icon-sm"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        ))}
                    </div>
                    <div class="card border-0 shadow rounded overflow-hidden">
                        <div class="card-body">
                            <BlogDesc/>
                        </div>
                    </div>

                    <BlogComments/>
                </div>

                <div class="col-lg-4 col-md-5 col-12">
                    <SidebarBlog/>
                </div>
            </div>
        </div>
    </section>

    <Footer/>
</Layout>