<div class="row align-items-center">
    <div class="col-lg-6 col-md-6">
        <div class="position-relative">
            <img src="{{ url_for('static', filename='assets/images/faqs.svg') }}" class="img-fluid" alt="">

            <div class="modern-app-round round-small"></div>
        </div>
    </div><!--end col-->

    <div class="col-lg-6 col-md-6 mt-4 mt-md-0 pt-2 pt-md-0">
        <div class="section-title mb-4 ms-lg-3">
            <h4 class="title mb-3">Frequently Asked Questions</h4>
            <p class="text-muted para-desc mb-0">We've cultivated a dynamic space where creativity seamlessly intertwines with strategy and innovation.</p>
        
            <div class="accordion mt-4 pt-2" id="buyingquestion">
                <div class="accordion-item rounded shadow">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button border-0 bg-white shadow" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            How does it work ?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse border-0 collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#buyingquestion">
                        <div class="accordion-body text-muted">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item rounded shadow mt-2">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Do I need a designer to use Coral ?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse border-0 collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#buyingquestion">
                        <div class="accordion-body text-muted">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                        </div>
                    </div>
                </div>

                <div class="accordion-item rounded shadow mt-2">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What do I need to do to start selling ?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse border-0 collapse" aria-labelledby="headingThree"
                        data-bs-parent="#buyingquestion">
                        <div class="accordion-body text-muted">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                        </div>
                    </div>
                </div>

                <div class="accordion-item rounded shadow mt-2">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            What happens when I receive an order ?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse border-0 collapse" aria-labelledby="headingFour"
                        data-bs-parent="#buyingquestion">
                        <div class="accordion-body text-muted">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->