//
// _home.scss
//

/*********************************/
/*            Home               */
/*===============================*/
@use "variables" as *;
@use "sass:color";

@mixin home-common {
    background-size: cover !important;
    align-self: center;
    position: relative;
    background-position: center center;
}

.bg-home {
    height: 100vh;    
    @include home-common();
    @media (max-width: 767px) {
        padding: 150px 0 !important;
        height: auto;
    }
}

.bg-half-260 {
    padding: 260px 0;    
    @include home-common();
    @media (max-width: 768px) {
        padding: 150px 0;
        height: auto;
    }
}

.bg-half {
    padding: 200px 0 100px;    
    @include home-common();
    @media (max-width: 768px) {
        padding: 120px 0 60px;
        height: auto;
    }
}

.bg-half-170 {
    padding: 170px 0;    
    @include home-common();
    @media (max-width: 767px) {
        padding: 120px 0;
        height: auto;
    }
}

.bg-hero {
    padding: 170px 0 350px;    
    @include home-common();
    @media (max-width: 767px) {
        padding: 120px 0 200px;
        height: auto;
    }
}

.margin-absolute {
    position: relative;
    margin-top: -300px;
    @media (max-width: 767px) {
        margin-top: -150px;
    }
}

//Clip Text
.clip-text {
    font-size: 120px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &.clip-text-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media (max-width: 1024px) {
        font-size: 120px;        
    }
    @media (max-width: 768px) {
        font-size: 110px;        
    }
    @media (max-width: 425px) {
        font-size: 60px;        
    }
    @media (max-width: 320px) {
        font-size: 48px;        
    }
}

//Hero Tilt Animation
.tilt-3d {
    .tilt-3d-trigger {
        position: relative; display: block;
        perspective: 1000px;
        .trigger {
            position: absolute; 
            height: 33.333333%; 
            width: 33.333333%; 
            display: block; 
            z-index: 2; 

            &:nth-child(1){  
                left: 0%; 
                top: 0%;
                &:hover ~ .tilt-3d-image {
                    transform: rotateY(8deg) rotateX(-5deg);
                }
            }
            &:nth-child(2){  
                left: 33.333333%; 
                top: 0%;
                &:hover ~ .tilt-3d-image {
                    transform: rotateY(0deg) rotateX(-5deg);;
                }
            }
            &:nth-child(3){  
                left: 66.666666%; 
                top: 0%;
                &:hover ~ .tilt-3d-image {
                    transform: rotateY(-8deg) rotateX(-5deg);
                }
            }
            &:nth-child(4){  
                left: 0%; 
                top: 33.333333%;
                &:hover ~ .tilt-3d-image {
                    transform: rotateY(8deg);
                }
            }
            &:nth-child(5){  
                left: 33.333333%; 
                top: 33.333333%;
                &:hover ~ .tilt-3d-image {
                    transform: rotateY(0deg) rotateX(0deg);
                }
            }
            &:nth-child(6){  
                left: 66.666666%; 
                top: 33.333333%;
                &:hover ~ .tilt-3d-image {
                    transform: rotateY(-8deg) rotateX(0deg);
                }
            }
            &:nth-child(7){  
                left: 0%; 
                top: 66.666666%;
                &:hover ~ .tilt-3d-image {
                    transform: rotateY(8deg) rotateX(5deg);
                }
            }
            &:nth-child(8){  
                left: 33.333333%; 
                top: 66.666666%;
                &:hover ~ .tilt-3d-image {
                    transform: rotateY(0deg) rotateX(5deg);
                }
            }
            &:nth-child(9){  
                left: 66.666666%; 
                top: 66.666666%;
                &:hover ~ .tilt-3d-image {
                    transform: rotateY(-8deg) rotateX(5deg);
                }
            }
        }

        .tilt-3d-image {
            width: 100%; 
            display: block; 
            transform-style: preserve-3d;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }
    }
}


//Finance
.bg-finance {
    height: 100vh;
    @include home-common();
    @media (max-width: 767px) {
        padding: 0 0 300px;
        height: auto;
        .background {
            padding: 120px 12px 50px;
            background: $light;
        }
    }
    @media (min-width: 768px) {
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            background: $light;
        }
    }
}

.bg-half-120 {
    padding: 120px 0;    
    @include home-common();
    @media (max-width: 767px) {
        padding: 120px 0;
        height: auto;
    }
}

.bg-it {
    background-color: rgba($primary, 0.1) !important;
}

.bg-yoga {
    background: color.adjust($warning, $lightness: 46%);
}


//swiper slider
.swiper-slider-hero {
    .swiper-container,
    .swiper-slide .slide-inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .swiper-container {        
        .swiper-button-prev,
        .swiper-button-next {
            background: transparent;
            width: 35px;
            height: 35px;
            line-height: 35px;
            margin-top: -30px;
            &:before {
                font-family: "Material Design Icons";
                font-weight: 900;
                color: $white;
            }
            &:hover {
                background: $primary;
                border-color: $primary !important;
            }
        }
        .swiper-button-prev {
            left: 10px;
            border: 1px solid rgba($white, 0.5);
            &:before {
                content: "\f0141";
            }
        }
        .swiper-button-next {
            right: 10px;
            border: 1px solid rgba($white, 0.5);
            &:before {
                content: "\f0142";
            }
        }
    }
    .swiper-pagination-bullet {
        color: $gray-100;
        background: transparent;
    }
    .swiper-pagination-bullet-active {
        color: $white;
    }
    .swiper-container-horizontal 
    > .swiper-pagination-bullets,
    .swiper-pagination-custom, 
    .swiper-pagination-fraction {
        bottom: 45px;
    } 
    .swiper-container-horizontal 
    > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 13px;
    }
}

@media (max-width: 767px) {
    .swiper-slider-hero .swiper-container .swiper-slide {        
        padding: 150px 0;
        height: auto;
    } 
}

// Text Slider
.text-slider {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    > ul {
        white-space: nowrap;
        li {
            .img-white {
                height: 28px;
                filter: grayscale(100%) brightness(200%) contrast(1);
            }
        }
    }
    .move-text {
        animation: moveSlideshow 12s linear infinite;
    }
}  
@keyframes moveSlideshow {
    100% { 
        transform: translateX(-45%);  
    }
}

// index-minimal-portfolio.html
#boxed-layput {
    background-color: rgba($primary, 0.1) !important;
    .boxed {
        background: $white;
        box-shadow: $shadow;
        max-width: 1170px;
        margin: 0 auto;
        .boxed-home {
            max-width: 1170px;
            margin: 0 auto;
        }
    }
}