{% for item in tables %}
    <tr>
        <th class="p-3">
            <div class="align-items-center">
                <img src="{{ item.img }}" class="me-2 avatar avatar-ex-small" alt="">
                <p class="mb-0 d-inline text-dark fw-normal h6">{{ item.title }}</p>
            </div>
        </th>
        <td class="p-3 text-muted fw-medium">{{ item.symbol }}</td>
        <td class="p-3 text-dark">{{ item.price }}</td>
        <td class="{{ item.class }} p-3">{{ item.percentage }}</td>
        <td class="{{ item.class }} p-3">{{ item.dollar }}</td>
        <td class="text-muted p-3">{{ item.marketcap }}</td>
        <td class="p-3 text-end"><a href="javascript:void(0)" class="btn btn-sm btn-primary">{{ item.btn }}</a></td>
    </tr>
{% endfor %}