{% for item in portfolios3|slice:"0:12" %}
    <div class="col-lg-2 col-md-4">
        <div class="portfolio">
            <a href="{{ item.img }}" class="lightbox"><img src="{{ item.img }}" class="img-fluid rounded shadow" alt=""></a>

            <div class="content mt-3">
                <a href="{% url 'App:portfolio_detail' title=item.title|slugify %}" class="text-dark fs-5 fw-medium link-title">{{ item.title }}</a>
                <p class="text-muted mb-0">{{ item.name }}</p>
            </div>
        </div>
    </div>
{% endfor %}