{% for item in posts %}
    <div class="blog blog-primary d-flex align-items-center {{ item.style }}">
        <img src="{{ asset( item.img ) }}" class="avatar avatar-small rounded" style="width: auto;" alt="">
        <div class="flex-1 ms-3">
            <a href="" class="d-block title text-dark fw-medium">{{ item.title }}</a>
            <span class="text-muted small">{{ item.date }}</span>
        </div>
    </div>
{% endfor %}