<div class="search-bar mt-4">
    <div id="itemSearch" class="menu-search mb-0">
        <form role="search" method="get" id="searchItemform" class="searchform">
            <input type="text" class="form-control rounded border" name="s" id="searchItem" placeholder="Search...">
            <input type="submit" id="searchItemsubmit" value="Search">
            <i data-feather="search" class="icons"></i>
        </form>
    </div>
</div>