{% for item in services[0:3] %}
    <div class="{{ item.style }}">
        <div class="position-relative features d-flex">
            <div class="position-relative d-flex justify-content-center">
                <i data-feather="{{ item.icon }}" class="fea icon-m-md text-primary z-1"></i>
                <div class="feature-icon bg-soft-primary position-absolute top-0 start-50 translate-middle"></div>
            </div>

            <div class="ms-3">
                <a href="{{ url_for('main.service_detail', title=slugify(item.title)) }}" class="h5 text-dark link-title">{{ item.title }}</a>
                <p class="text-muted mt-3">{{ item.desc }}</p>
                <a href="{{ url_for('main.service_detail', title=slugify(item.title)) }}" class="text-primary">Learn More <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div>
        </div>
    </div>
{% endfor %}