<div class="accordion mt-4" id="supportquestion">
    <div class="accordion-item rounded shadow">
        <h2 class="accordion-header" id="headingthirteen">
            <button class="accordion-button border-0 bg-white shadow" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethirteen"
                aria-expanded="true" aria-controls="collapsethirteen">
                How does it work ?
            </button>
        </h2>
        <div id="collapsethirteen" class="accordion-collapse border-0 collapse show" aria-labelledby="headingthirteen"
            data-bs-parent="#supportquestion">
            <div class="accordion-body text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
            </div>
        </div>
    </div>
    
    <div class="accordion-item rounded shadow mt-2">
        <h2 class="accordion-header" id="headingfourteen">
            <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefourteen"
                aria-expanded="false" aria-controls="collapsefourteen">
                Do I need a designer to use Coral ?
            </button>
        </h2>
        <div id="collapsefourteen" class="accordion-collapse border-0 collapse" aria-labelledby="headingfourteen"
            data-bs-parent="#supportquestion">
            <div class="accordion-body text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
            </div>
        </div>
    </div>

    <div class="accordion-item rounded shadow mt-2">
        <h2 class="accordion-header" id="headingfifteen">
            <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsefifteen" aria-expanded="false" aria-controls="collapsefifteen">
                What do I need to do to start selling ?
            </button>
        </h2>
        <div id="collapsefifteen" class="accordion-collapse border-0 collapse" aria-labelledby="headingfifteen"
            data-bs-parent="#supportquestion">
            <div class="accordion-body text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
            </div>
        </div>
    </div>

    <div class="accordion-item rounded shadow mt-2">
        <h2 class="accordion-header" id="headingsixteen">
            <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsesixteen" aria-expanded="false" aria-controls="collapsesixteen">
                What happens when I receive an order ?
            </button>
        </h2>
        <div id="collapsesixteen" class="accordion-collapse border-0 collapse" aria-labelledby="headingsixteen"
            data-bs-parent="#supportquestion">
            <div class="accordion-body text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
            </div>
        </div>
    </div>
</div>