<div class="accordion mt-4" id="paymentquestion">
    <div class="accordion-item rounded shadow">
        <h2 class="accordion-header" id="headingnine">
            <button class="accordion-button border-0 bg-white shadow" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine"
                aria-expanded="true" aria-controls="collapsenine">
                How does it work ?
            </button>
        </h2>
        <div id="collapsenine" class="accordion-collapse border-0 collapse show" aria-labelledby="headingnine"
            data-bs-parent="#paymentquestion">
            <div class="accordion-body text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
            </div>
        </div>
    </div>
    
    <div class="accordion-item rounded shadow mt-2">
        <h2 class="accordion-header" id="headingten">
            <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseten"
                aria-expanded="false" aria-controls="collapseten">
                Do I need a designer to use Coral ?
            </button>
        </h2>
        <div id="collapseten" class="accordion-collapse border-0 collapse" aria-labelledby="headingten"
            data-bs-parent="#paymentquestion">
            <div class="accordion-body text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
            </div>
        </div>
    </div>

    <div class="accordion-item rounded shadow mt-2">
        <h2 class="accordion-header" id="headingeleven">
            <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseeleven" aria-expanded="false" aria-controls="collapseeleven">
                What do I need to do to start selling ?
            </button>
        </h2>
        <div id="collapseeleven" class="accordion-collapse border-0 collapse" aria-labelledby="headingeleven"
            data-bs-parent="#paymentquestion">
            <div class="accordion-body text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
            </div>
        </div>
    </div>

    <div class="accordion-item rounded shadow mt-2">
        <h2 class="accordion-header" id="headingtwelve">
            <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsetwelve" aria-expanded="false" aria-controls="collapsetwelve">
                What happens when I receive an order ?
            </button>
        </h2>
        <div id="collapsetwelve" class="accordion-collapse border-0 collapse" aria-labelledby="headingtwelve"
            data-bs-parent="#paymentquestion">
            <div class="accordion-body text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
            </div>
        </div>
    </div>
</div>