<div class="accordion mt-4" id="generalquestion">
    <div class="accordion-item rounded shadow">
        <h2 class="accordion-header" id="headingfive">
            <button class="accordion-button border-0 bg-white shadow" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive"
                aria-expanded="true" aria-controls="collapsefive">
                How does it work ?
            </button>
        </h2>
        <div id="collapsefive" class="accordion-collapse border-0 collapse show" aria-labelledby="headingfive"
            data-bs-parent="#generalquestion">
            <div class="accordion-body text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
            </div>
        </div>
    </div>
    
    <div class="accordion-item rounded shadow mt-2">
        <h2 class="accordion-header" id="headingsix">
            <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix"
                aria-expanded="false" aria-controls="collapsesix">
                Do I need a designer to use Coral ?
            </button>
        </h2>
        <div id="collapsesix" class="accordion-collapse border-0 collapse" aria-labelledby="headingsix"
            data-bs-parent="#generalquestion">
            <div class="accordion-body text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
            </div>
        </div>
    </div>

    <div class="accordion-item rounded shadow mt-2">
        <h2 class="accordion-header" id="headingseven">
            <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                What do I need to do to start selling ?
            </button>
        </h2>
        <div id="collapseseven" class="accordion-collapse border-0 collapse" aria-labelledby="headingseven"
            data-bs-parent="#generalquestion">
            <div class="accordion-body text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
            </div>
        </div>
    </div>

    <div class="accordion-item rounded shadow mt-2">
        <h2 class="accordion-header" id="headingeight">
            <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                What happens when I receive an order ?
            </button>
        </h2>
        <div id="collapseeight" class="accordion-collapse border-0 collapse" aria-labelledby="headingeight"
            data-bs-parent="#generalquestion">
            <div class="accordion-body text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
            </div>
        </div>
    </div>
</div>