{% for item in portfolios3[0:8] %}
    <div class="col-md-6">
        <div class="portfolio">
            <a href="{{ item.img }}" class="lightbox"><img src="{{ item.img }}" class="img-fluid rounded shadow" alt=""></a>

            <div class="content mt-3">
                <a href="{{ url_for('main.portfolio_detail', title=slugify(item.title)) }}" class="text-dark fs-5 fw-medium link-title">{{ item.title }}</a>
                <p class="text-muted mb-0">{{ item.name }}</p>
            </div>
        </div>
    </div>
{% endfor %}