{% for item in mondays|slice(0, 3) %}
    <tr>
        <td class="p-4 fw-medium" style="max-width: 100px;">{{ item.time }}</td>
        <td class="p-4" style="min-width: 300px;">
            <div class="d-flex">
                <img src="{{ asset( item.img ) }}" class="avatar avatar-md-sm rounded-circle border shadow" alt="">
                <div class="ms-3">
                    <h6 class="text-dark mb-0 d-block">{{ item.title }}</h6>
                    <small class="text-muted">{{ item.name }}</small>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}