{% for item in teams2 %}
    <div class="col-lg-3 col-md-6 col-12">
        <div class="card team team-primary bg-transparent text-center mb-5">
            <div class="card-img team-image d-inline-block mx-auto rounded overflow-hidden">
                <img src="{{ asset( item.img ) }}" class="img-fluid" alt="">

                <ul class="list-unstyled team-social mb-0">
                    <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="icons fea-social"></i></a></li>
                    <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="icons fea-social"></i></a></li>
                    <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="icons fea-social"></i></a></li>
                </ul>
            </div>

            <div class="content bg-white mx-4 p-4 z-1 rounded shadow">
                <a href="" class="text-dark h5 mb-0 title">{{ item.name }}</a>
                <h6 class="text-muted mb-0 fw-normal">{{ item.title }}</h6>
            </div>
        </div>
    </div>
{% endfor %}